#application #options-search-clear {
    float: right;
}

#application #options-search {
    width: calc(100% - 45px);
    min-width: 100px;
    padding: 6px;
    border: 1px solid #aaa;
    margin-top: 1px;
}

#application .options-container {
    min-height: 200px;
}

#application .options-container > div {
    border: 1px solid #ddd;
    padding: 8px;
    height: 38px;
    margin-bottom: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#application .options-container > div.filtered {
    height: 1px;
    padding: 0 8px;
    overflow: hidden;
    border-color: #eee;
}

#application .options-container > div:hover {
    background-color: #eee;
}

#application .options-container > div a {
    float: right;
}

#application .options-container > div a:hover, 
#application .options-container > div a:active {
    text-decoration: none;
}

#application .options-container > div a.btn {
    margin: 0;
    padding: 4px 16px;
    font-size: 10px;
    margin-top: -2px;
    display: block;
    width: auto;
    height: auto;
}

#application #options-user span {
    font-size: 14px;
    color: #888;
}

#application #options-user > div {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#application #options-available {
    overflow-y: scroll;
    padding-right: 10px;
}

#application #timer-container span {
    float: right;
    display:block;
    margin-top: 10px;
    font-size: 12px;
    padding: 4px;
}