*, *:before, *:after {
  box-sizing: border-box;
}

ul.nav li {
    height: 36px;
}

#application hr {
    margin-top: 4px;
}

#application h4 {
    height: 22px;
}

#application h4 .glyphicon-minus {
    color: #ccc;
}

#application #options-search-clear {
    float: right;
    width: 40px;
    height: 34px;
}

#application #options-search {
    width: calc(100% - 45px);
    min-width: 100px;
    padding: 6px;
    border: 1px solid #aaa;
    margin-top: 1px;
}

#application .options-container {
    min-height: 200px;
}

#application .options-container > div {
    border: 1px solid #ddd;
    padding: 8px;
    height: 38px;
    margin-bottom: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#application .options-container > div.filtered {
    height: 1px;
    padding: 0 8px;
    overflow: hidden;
    border-color: #eee;
}

#application .options-container > div:hover {
    background-color: #eee;
}

#application .options-container > div a {
    float: right;
    padding: 10px;
    display: block;
    margin-top: -8px;
}

a.glyphicon:hover,
a.glyphicon:active {
    text-decoration: none;
}

#application .options-container > div a.btn {
    margin: 0;
    padding: 4px 16px;
    font-size: 10px;
    margin-top: -2px;
    display: block;
    width: auto;
    height: auto;
}

#application #options-user > div {
    padding-right: 0px;
}

#application #options-user span {
    font-size: 14px;
    color: #888;
}

#application #options-user.sortable > div {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#application #options-user.static > div:hover {
    background-color: inherit;
}

#application #options-available {
    overflow-y: scroll;
    padding-right: 10px;
}

#application #timer-container span {
    float: right;
    display:block;
    margin-top: 10px;
    font-size: 12px;
    padding: 4px;
}

#application #options-valid {
    display: inline-block;
    padding-left: 10px;
}

#application .footer>div {
    height:50px;
}

#application .footer .alert {
    margin: 0;
}

input[name="id[]"] {
  width: 5rem;
}

input[name="group[]"] {
  width: calc(100% - 14rem);
}

input[type="number"] {
  width: 5rem;
}

input[name="occupancy[]"] ~ a {
  width: 2rem;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0.25rem 0;
  height: 26px;
  overflow: hidden;
  transition: height 0.3s;
}

ul li span,
ul li input,
ul li a {
  transition: opacity 0.3s 0.3s;
  opacity: 1;
}

ul li.added {
  height: 0;
}

ul li.added span,
ul li.added input,
ul li.added a {
  opacity: 0;
}

ul li:last-child {
  text-align: right;
  padding-right: 0.25rem;
  height: 36px;
}

.borderless td, .borderless th {
  border: none !important;
}

.required::before {
  content: "*";
  padding: 0rem 0.6rem;
  font-weight: bold;
  color: rgb(169, 68, 66);
}

.not-required::before {
  content: "*";
  /* padding: 0rem 0.6rem; */
  font-weight: bold;
  color: rgb(255,255,255);
}

.group-id-cell::before {
  content: '\2195';
  padding: 0rem 0.4rem;
  vertical-align: middle;
}

#tblGroupsList tbody td {
  text-align: center;
}

#tblGroupsList tbody input[type="number"] {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.row-padding {
  margin-bottom: 0.9375rem;
}

.text-area {
  margin-left: 0.75rem;
}

.small-input {
  max-width: 100px;
  margin-right: 20px;
}

.error-message {
  display: block;
  margin-top: -20px;
}

.error-message::before {
  content: "\A";
  white-space: pre;
  margin-top: 10px;
}

.has-error {
  border: 1px solid red;
}

@media (max-width: 576px) {
  .pull-right {
    float: none !important;
  }
}

.form-button {
  margin-right: 10px;
}

.padded {
  margin-top: 5.125rem;
  margin-bottom: 3.125rem;
}

#tsugi_tool_nav_bar .navbar-nav > .active > a {
  color: purple;
  font-weight: bold;
}
.download {
  background-color: #02caa0;
  color: white;
}
.table-rounded {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 15px;
  overflow: hidden;
}
.table-rounded thead th:first-child {
  border-top-left-radius: 15px;
}
.table-rounded thead th:last-child {
  border-top-right-radius: 15px;
}


.table td.group-id-cell span.error {
  color: #a94442;
}

.table td .alert {
  margin-bottom: 0px;
}

#btnCancel {
  font-size: 1.2rem;
  display: inline-block;
  padding: 0.6rem 1.8rem;
  text-decoration: underline;
}

#btnCancel:hover, #btnCancel:active {
  color: var(--primary-menu);
}

.label-top {
  padding-left: 10px;
}

.label-top input {
  margin-top: 5px
}

.label-top input {
  margin-bottom: 1.4rem;
  margin-right: 0px;
  height: 2.8rem;
}

.label-top label {
  margin-left: 8px;
  font-weight: lighter;
  position: absolute;
  margin-top: -10px;
  background: #fff;
  padding: 0 5px;
}

.csstooltip {
  display: inline;
  position: relative;
}

.csstooltip:hover:after{
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgb(68, 68, 68, 0.8);
  border-radius: 8px;
  color: #fff;
  content: attr(title);
  font-size: 1rem;
  padding: 0.5rem;
  width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -116%);
}
.csstooltip:hover:before{
  border: solid;
  border-color: rgb(68, 68, 68, 0.8) transparent;
  border-width: 12px 6px 0 6px;
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-18%, -175%);
}