<h2>Select Your Topics</h2>
<hr/>

<p>If you would like to see the topics, please see the <b>[[ Add a Link here ]]</b> booklet.</p>

<p>From the list of topics below, identify potential topics that appeal to you. It is important to
    select <b>at least {(SelectMin)}</b> and <b>up to {(SelectMax)}</b> choices for
    the electronic selection process.</p>
<p>If you fail to make selections, you will be randomly allocated to a topic.</p>
<p>Please make your choices in <b><span class="text-danger">order of preference</span>.</b></p>
<blockquote class="bg-info">The deadline for selections is <b>{(ClosingDate)}</b>.</blockquote>