{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">    
    $(document).ready(function(){
        var _settings = JSON.parse('{{ $allocationsettings }}');
        var _groups = JSON.parse('{{ $allocationgroups }}');
        var _choices = JSON.parse('{{ $studentchoices }}');
        var groupedChoices = {};
	    var currentDate = new Date();
        var today = currentDate.getFullYear() + '-' + ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' + ('0' + currentDate.getDate()).slice(-2);

        if(_settings.length > 0 || _groups.length > 0 || _choices.length > 0) {
            var details = _settings[0];
            var state = details.state;
            var releaseDate = details.release_date.split(' ')[0];
            var closingDate = details.closing_date.split(' ')[0];
            var selections = [];
            var columnIndex = 1;

	        $('#tool-title').html(details.name);
            $('#tblGroupsList tbody').empty();
            populateSettings(_settings);
            _groups.forEach(function(group) {
                var avail_spaces = group.group_size;
                var num_students = 0;
                _choices.forEach(function(choice) {
                    if (choice.assigned === 1 && choice.group_id === group.group_id) {
                        avail_spaces--;
                        num_students++;
                    }
                });

                group.avail_spaces = avail_spaces;
                group.num_students = num_students;
            });

            $('#tblGroupsList tbody').html(tmpl('tmpl-options', _groups));

            if (state === "waiting") {
                $('#frmAddGroups, #tblGroupsList').find('input, select, textarea').prop('readonly', true);
                $('#frmAddGroups, #tblGroupsList').find('button').prop('disabled', true);
                $('#tblGroupsList th:nth-child(' + (columnIndex + 5) + ')').hide();
                $('#tblGroupsList td:nth-child(' + (columnIndex + 5) + ')').hide();
                $('#btnCancel, #btnSave, #btnAddRow, #run_allocation').hide();
                $('#tblGroupsList .delete-row').hide();
                $('#tblGroupsList tbody td').removeClass('group-id-cell');
            } 
            else if (state === "assigned") {
                $("#divMemberships").show();
                $("#divSelections").hide();
                $('#tblGroupsList th:nth-child(' + (columnIndex + 5) + ')').hide();
                $('#tblGroupsList td:nth-child(' + (columnIndex + 5) + ')').hide();
                $('#tblGroupsList .delete-row').hide();
                $('#btnCancel, #btnSave, #btnAddRow, #run_allocation').hide();
                $('#frmAddGroups, #tblGroupsList').find('input, select, textarea, button').prop('readonly', true);
                $('#tblGroupsList tbody td').removeClass('group-id-cell');
            }

            if(today > closingDate) {
                $('#frmAddGroups, #tblGroupsList').find('input, select, textarea, button').each(function() {
                    var id = $(this).attr('id');
                    $('#tblGroupsList tbody td').removeClass('group-id-cell');
                    if (id !== 'closing-date' && id !== 'instructions' && id !== 'btnSave') {
                        $(this).prop('readonly', true);
                    }
                });

                $(' #btnAddRow').hide();
                $('#tblGroupsList .delete-row').hide();
            }

            $("#tblGroupsList tbody").sortable({
                items: 'tr',
                dropOnEmpty: false,
                start: function (G, ui) {
                    ui.item.addClass("select");
                },
                stop: function (G, ui) {
                    ui.item.removeClass("select");
                    updateGroupIds();
                }
            });

            populateSelections(_choices);
        }
       
        $('#btnAddRow').click(function(event) {
            event.preventDefault();
            addRow({ id: '', group_name: '', size: '' });
        });

        $(document).on('click', '#tblGroupsList tbody .delete-row', function(event) {
            event.preventDefault();
            const row = $(this).closest('tr');
    	    row.remove();
        
	        updateGroupIds();
        });

        $('#frmAddGroups').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var emptyRows = false;
	        var minSelections = $('#min-selections').val();
            var maxSelections = $('#max-selections').val();

	    
            if (validateForm()) {
                $.ajax({
                    url: '{{ $configure }}',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        console.error(JSON.parse(xhr.responseText).error);
                    }
                });
            }
        });

        $('#frmAddGroups #btnCancel').click(function(event) {
            event.preventDefault();
	        location.reload();
        });

        $('#run_allocation').click(function(event) {
            event.preventDefault();

            $.ajax({
                url: '{{ $updatestate }}',
                type: 'POST',
                data:JSON.stringify({ "tool-state": "waiting" }),
                contentType: 'application/json',
                success: function(response) {
                    location.reload();
                    $("#run_allocation").hide();
                    $.ajax({
			    url: 'scripts/check.pl',
                	type: 'GET',
                	success: function(response) {
                    		console.log("check.pl executed successfully:", response);
                	},
                	error: function(xhr, status, error) {
                    		console.error("Error calling check.pl:", xhr.responseText);
                	}
            	    });
                },
                error: function(xhr, status, error) {
                    console.error(JSON.parse(xhr.responseText).error);
                }
            });
        })

        $('.btn-search').click(function() {
            var $searchForm = $(this).closest('form');
            var searchText = $searchForm.find('.search-input').val().trim().toLowerCase();
            if (searchText === '') {
                $searchForm.closest('.tab-pane').find('.table tbody tr').show();
            } else {
                $searchForm.closest('.tab-pane').find('.table tbody tr').hide().filter(function() {
                    var $tds = $(this).find('td');
                    var found = false;
                    $tds.each(function() {
                        if ($(this).text().toLowerCase().indexOf(searchText) > -1) {
                            found = true;
                            return false;
                        }
                    });

                    return found;
                }).show();
            }
        });

        $('.search-input').keypress(function(event) {
            if (event.which === 13) {
                event.preventDefault();
                $(this).closest('form').find('.btn-search').click();
            }
        });

        $('.clear-search').click(function(event) {
            event.preventDefault();
            var $searchForm = $(this).closest('form');
            $searchForm.find('.search-input').val('');
            $searchForm.closest('.tab-pane').find('.table tbody tr').show();
        });

        $('#btnDownloadMemberships').click(function(event) {
            event.preventDefault();
            var csvData = '';
            var headers = $('#tbl-user-memberships thead th');

            headers.each(function(index) {
                if (index > 0) {
                    csvData += ',';
                }
                csvData += $(this).text();
            });

            csvData += '\n';

            var rows = $('#tbl-user-memberships tbody tr');

            rows.each(function(rowIndex) {
                var cells = $(this).find('td');

                // Loop through each cell and append its text to CSV data
                cells.each(function(cellIndex) {
                    if (cellIndex > 0) {
                        csvData += ',';
                    }
                    csvData += $(this).text();
                });

                if (rowIndex < rows.length - 1) {
                    csvData += '\n';
                }
            });

            var blob = new Blob([csvData], { type: 'text/csv;charset=utf-8' });
            var link = document.createElement('a');

            link.href = window.URL.createObjectURL(blob);
            link.download = 'table_data.csv';

            document.body.appendChild(link);
            link.click();

            document.body.removeChild(link);
        });

        $('#assignModal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget); 
            var studentName = button.data('name');
	        var studentId = button.data('id');
            var modal = $(this);
            var availableGroups = _groups.filter(function(group) {
                return group.avail_spaces > 0;
            });
            
            $('#studentId').val(studentId);
            $('#studentIdDisplay').text(studentId);
            $('#assignedGroup').empty();
            $('#assignedGroup').append($('<option>', {value: '', text: 'Select from list'}));

            availableGroups.forEach(function(group) {
                $('#assignedGroup').append($('<option>', {
                    value: group.group_id,
                    text: group.group_id + ': ' + group.group_name
                }));
            });
        });
        
        $('#min-selections, #max-selections').click(function() {
        	$('#error-message').empty();
        	$('#selections-error').empty();
		    $('#min-selections').removeClass('has-error');
        });

        $('#frmAssign').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            
            $.ajax({
                url: '{{ $assign }}',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(JSON.parse(xhr.responseText).error);
                }
            });
        })

        function populateSettings(allocation_settings) {
            if (allocation_settings.length > 0) {
                var settings = _settings[0];

                $('#tool-id').val(settings.link_id);
                $('#tool-name').val(settings.name);
                $('#instructions').val(settings.instructions);
                $('#release-date').val(settings.release_date.split(' ')[0]);
                $('#closing-date').val(settings.closing_date.split(' ')[0]);
                $('#topics-info').val(settings.groups_doc);
                $('#min-selections').val(settings.min_selections);
                $('#max-selections').val(settings.max_selections);
            }
        }

        function updateGroupIds() {
            $('#tblGroupsList tbody tr').each(function(index) {
        	    var newGroupId = ("000" + (index + 1)).slice(-3);
                $(this).find('.group-id-cell span').text(newGroupId);
                $(this).find('.group-id-cell input').val(newGroupId);
            });
        }

        function addRow(group) {
            var projectId = $('#tblGroupsList tbody tr').length + 1;
            projectId = ("000" + projectId).slice(-3);

            $('#tblGroupsList tbody').append(tmpl('tmpl-option-row', 
                {'group_id': projectId, 'group_name': '', 'group_size': 1}
            ));

            updateGroupIds();
        }

        function validateForm() {
            var isValid = true;
            var emptyRows = false;
            var minSelections = $('#min-selections').val();
            var maxSelections = $('#max-selections').val();

            $('#tblGroupsList tbody tr').each(function() {
                var groupId = $(this).find('input[name="group-title[]"]').val().trim();
                var groupSize = $(this).find('input[name="group-size[]"]').val().trim();

                if (groupId === '' || groupSize === '') {
                    emptyRows = true;
                    return false;
                }
            });

            if (emptyRows) {
                $('#error-message').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> A title is required for all topics.');
                $('#error-message').show();

                return false;
            }

            if (minSelections > maxSelections) {
                $('#selections-error').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Min selections cannot be greater than Max selections.');
                $('#selections-error').show();
                $('#min-selections').addClass('has-error');

                return false;
            } else if(minSelections <= maxSelections) {
                $('#min-selections').removeClass('has-error');
                $('#selections-error').html('');
                $('#selections-error').hide();
                return isValid;
            }

            return isValid;
        }

        function populateSelections(user_choices) {
            var groupedChoices = {};

            user_choices.forEach(function(choice) {
                var userId = choice.user_id;
                var fullName = choice.full_name;
                var groupId = choice.group_id;
                var groupName = choice.group_name;
                var assigned = choice.assigned;
                var choiceId = choice.choice_id;

                if (!groupedChoices[userId]) {
                    groupedChoices[userId] = {
                        user_id: userId,
                        full_name: fullName,
                        user_name: choice.user_name,
                        grouped_choices: [],
                        allocated_to: "Not assigned",
                        allocated_group: "Not assigned"
                    };
                }

                // Push the choice details to grouped_choices
                groupedChoices[userId].grouped_choices.push({
                    choice_id: choiceId,
                    group_id: groupId,
                    group_name: groupName
                });

                // If the choice is assigned, update allocated_to and allocated_group
                if (assigned === 1) {
                    groupedChoices[userId].allocated_to = groupId;
                    groupedChoices[userId].allocated_group = groupId + ": " + groupName;
                }
            });

            // Sort grouped_choices by choice_id and format them as comma-separated string
            for (var userId in groupedChoices) {
                var user = groupedChoices[userId];
                user.grouped_choices = user.grouped_choices
                    .sort((a, b) => a.choice_id - b.choice_id)
                    .map(choice => choice.group_id)
                    .join(', ');
            }

            // Convert groupedChoices object to an array
            var groupedChoicesArray = Object.values(groupedChoices); 
            $('#tbl-allocation-choices tbody').html(tmpl('tmpl-selections', groupedChoicesArray));
            $('#tbl-user-memberships tbody').html(tmpl('tmpl-memberships', groupedChoicesArray));

            var hasNotAssigned = groupedChoicesArray.some(function(item) {
                return item.allocated_group === 'Not assigned';
            });

            if (!hasNotAssigned) {
                $('#tbl-user-memberships th:nth-child(4), #tbl-user-memberships td:nth-child(4)').hide();
            }
        }

        function setState(state) {
            $.ajax({
                url: '{{ $updatestate }}',
                type: 'POST',
                data: JSON.stringify({"tool-state": state}),
                contentType: 'json',
                success: function(response) {
                },
                error: function(xhr, status, error) {
                    console.error(JSON.parse(xhr.responseText).error);
                }
            });
        }
    
        function allocateUsers() {
            $.ajax({
                url: '{{ $allocate }}',
                type: 'GET',
                contentType: 'json',
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(JSON.parse(xhr.responseText).error);
                }
            });
        }
    
    });

</script>
