<section>
    <!-- Lecturer View -->
    <div id="lecturer-view" class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#add-groups-tab">Add Options</a></li>
            <li><a data-toggle="tab" href="#view-choices-tab">Selections</a></li>
        </ul>
      
        <div class="tab-content">
            <div id="add-groups-tab" class="tab-pane fade in active">
             
               <br/><br/>
                <form id="frmAddGroups" class="form-horizontal">
                    <input type="hidden" class="form-control" id="tool-id" name="tool-id" value="{{$toolid}}"/>
                    <input type="hidden" id="tool-state" name="tool-state" value=""/>

                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-right">
                            <label class="required" for="tool-name">Tool Name:</label>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <input type="text" class="form-control" id="tool-name" name="tool-name" required />
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-right">
                            <label class="required" for="instructions">Instructions:</label>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <textarea class="form-control" id="instructions" name="instructions" required></textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-right">
                            <label for="groups-doc">Project Info:</label>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <input type="text" class="form-control" id="groups-doc" name="groups-doc">
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-right">
                            <label class="required" for="groups-doc"># Selections:</label>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <div class="form-inline">
                                <input type="number" name="min-selections" id="min-selections" class="form-control input-sm" placeholder="Min" min="1" required/>
                                <span class="input-group-text">/</span>
                                <input type="number" name="max-selections" id="max-selections" class="form-control input-sm" placeholder="Max" min="1" required/>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-right">
                            <label  class="required" for="release-date">Release Date:</label>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <input type="date" class="form-control" id="release-date" name="release-date" required>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-md-2 col-sm-12 text-right">
                            <label  class="required" for="closing-date"> Closing Date:</label>
                        </div>
                        <div class="col-md-10 col-sm-12">
                            <input type="date" class="form-control" id="closing-date" name="closing-date" required min="<?= date('Y-m-d') ?>">
                        </div>
                    </div>

                    <br/><br/>
                    <h3>Options List</h3>
                    <table class="table table-bordered" id="tblGroupsList">
                        <thead class="bg-info">
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Size</th>
                                <th class="text-center"># Students</th>
                                <th class="text-center">Avail Spaces</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="hidden" class="form-control form-control-xs" id="group-id[]" name="group-id[]" value="001" readonly/>
                                    <span id="group-id" name="group-id" data-id="">001</span>
                                </td>
                                <td><input type="text" class="form-control form-control-xs" id="group-title[]" name="group-title[]" /></td>
                                <td class="align-center"><input type="number" class="form-control" name="group-size[]" id="group-size[]"></td>
                                <td class="align-center"><input type="number" class="form-control" name="group-students[]" id="group-students[]"></td>
                                <td class="align-center"><input type="number" class="form-control" name="group-avail[]" id="group-avail[]"></td>
                                <td class="text-center"><a href="#" class="glyphicon glyphicon-remove text-danger"></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="button" id="btnAddRow" name="btnAddRow" class="btn btn-primary">+ Add Another</button>
                
                    <div class="form-group">        
                        <div class="col-sm-offset-9 col-sm-3 pull-right">
                          <button type="submit" class="btn btn-success pull-right" id="btnSave">Save</button> 
                          <button type="button" class="btn btn-default pull-right" id="btnCancel">Cancel</button>  
                        </div>
                    </div>
                </form>
            </div>
            <div id="view-choices-tab" class="tab-pane fade">
                <br/>
               
                <form class="form-inline mb-3">
                    <div class="form-group mr-2">
                        <label for="search-student" class="mr-2">Search Student:</label>
                        <input type="text" class="form-control search-input" placeholder="Enter Student ID or Name">
                    </div>
                    <button type="button" class="btn btn-outline-secondary btn-xs btn-search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-xs clear-search">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </form>
               
                <div id="divSelections">
                    <button type = "button" id="run_allocation" name="run_allocation" class="btn btn-primary pull-right">Run Allocation</button>
                    <br/><br/>
                    <h3 id="selections_title">SELECTIONS</h3>
                    <table class="table table-bordered" id="tbl-allocation-choices">
                        <thead class="bg-info">
                            <tr>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Project Choices</th>
                                <th>Allocated to</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="assignModalLabel">Assign Student to Group</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form id="frmAssign" method="POST">
                                    <label for="studentId">Student ID: </label>
                                    <span id="studentIdDisplay"></span></p>
                                    <input type="hidden" class="form-control" id="studentId" name="studentId"/>
                                    <div class="form-group">
                                        <label for="assignedGroup">Select Group:</label>
                                        <select class="form-control" id="assignedGroup" name="assignedGroup" required></select>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" id="btnAssign" name="btnAssign">Assign</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>


                <div id="divMemberships" style="display:none;">
                    <button type="button" class="btn btn-primary btn-sm pull-right" id="btnDownloadMemberships">
                        <span class="glyphicon glyphicon-download"></span> Download
                    </button>
                    <br/> <br/>
                    <h3 id="memberships_title">MEMBERSHIPS</h3>
                    <table class="table" id="tbl-user-memberships">
                        <thead class="bg-info">
                            <tr>
                                <th>Student ID</th>
                                <th>Student Name</th>
                                <th>Project</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
</section>