<script type="text/x-tmpl" id="tmpl-option-row">

    {% if (o.options.length > 0) {
        for (var i = 1; i <= Math.min(o.settings.max_selections, o.options.length); i++) {
            var selectId = 'select_' + i;
            var rowId = 'row_' + i; %}
        <tr>
            <td class="text-center" style="vertical-align: middle; font-size: 1.4rem; font-weight: bold;">
                <input type="hidden" id="choice-number[]" name="choice-number[]" value="{%= i %}" />
                {%= i %}
            </td>
            <td>
                <select class="form-control project-selection"
                    data-id="{%= selectId %}" name="project-selection[]" data-row="{%= rowId %}">
                    <option value="">Select</option>
                    {% o.options.forEach(function(group) { %}
                        {% var choiceForLevel = o.choices.find(c => c.choice_rank === i); %}
                        {% var isSelected = choiceForLevel && choiceForLevel.group_id === group.group_id ? 'selected' : ''; %}
                        <option value="{%= group.group_id %}" {%= isSelected %}>
                            {%= group.group_id %}: {%= group.group_name %}
                        </option>
                    {% }); %}
                </select>
            </td>
        </tr>
        {% }
    } else { %}
        <tr>
            <td colspan="2" style="text-align: center; font-size: 1.2rem; padding: 1.2rem; color: var(--text-light);">
                The options have not been configured yet. Please check back later.
            </td>
        </tr>
    {% } %}
</script>
