<section>
    <!-- Student View -->
    <div id="student-view" class="container mt-5">
        <!-- <h3 class="text-center"> SSM Project Allocation</h2> -->

        <h2>SSM Project Selection Form</h2>

        <div id="tool-placeholder" class="bg-info text-center" style="display: none;"><br/><br/>
            <h3>This tool is not yet configured! <br/> Please contact your administrator for more information.</h3>
            <br/><br/>
        </div>
        
        <div id="tool_details">
            <blockquote class="bg-info" id="bqSettings"></blockquote>
            <div class="row">
                <div style="display: none;" id="assigned_div"></div>
                <div id="projects-container">
                    <br/>
                    <h3>My Choices:</h3>
                    

                    <form id="frmSubmitChoices" method="post">
                        <table class="table table-bordered" id="tblGroups">
                            <thead class="bg-info">
                                <tr>
                                    <th class="text-center">Choice #</th>
                                    <th class="text-center">Title</th>
                                </tr>
                            </thead>
                            <tbody id="project-list"></tbody>
                        </table>
                        <br/>

                        <button type="submit" id="btnSubmitChoices" name="btnSubmitChoices" class="btn btn-success pull-right">Submit Choices</button>
                        <b><span id="error-message" name="error-message" class="text-danger"></span></b>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>