{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}
<script type="text/javascript">
    function postResize() {
        parent.postMessage(JSON.stringify({
            subject: "iframeResize",
            width:  window.innerWidth,
            height: window.innerHeight
        }), "*");
    }
    window.onresize = postResize;
</script>
<script type="text/javascript">
    $(document).ready(function() {
        var _settings = {{ json_encode($allocation_settings) }};
        var _options = {{ json_encode($allocation_groups) }};
        var _choices = {{ json_encode($selected_groups) }};

        $('#tblGroups tbody').html(tmpl('tmpl-option-row', { settings: _settings, choices: _choices, options: _options }));

        $('#frmSubmitChoices').submit(function(event) {
            event.preventDefault();
            event.stopPropagation();

            const _form = $('#frmSubmitChoices'),
                  _btn  = $('#btnSubmitChoices'),
                  _data = new FormData(this);

            // for (var [key, value] of _data.entries()) {
            //     console.log(key + ': ' + value);
            // }

            _btn.html('<i class="fa fa-cog fa-spin"></i>&nbsp;&nbsp;Saving ...').addClass('disabled').attr('disabled', true);
            $.ajax({
                url: '{{ $add_choice_url }}',
                type: 'POST',
                data: _data, dataType: 'json',
                processData: false,
                contentType: false,
            }).done(function(data) {
                if (data['success'] == 1) {
                    $().msgpopup({
                        text: 'Your choices were saved successfully.',
                        type: 'success',
                        time: 2000
                    });
                } else {
                    $().msgpopup({
                        text: data['msg'],
                        type: 'error',
                        time: 5000
                    });
                }
            }).fail(function() {
                $().msgpopup({
                    text: 'An error occurred while processing your submission. Please try again later.',
                    type: 'error',
                    time: 5000
                });
            }).always(function() {
                _btn.html('Submit Choices').removeClass('disabled').attr('disabled', false);
            });
        });

        postResize();
    });
</script>
