<section>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="tsugi_tool_nav_bar">  
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.php" id="tool-title">Topic Allocator</a>
            </div>
        </div>
    </nav>
    <div id="student-view" class="container mt-5">
        <div id="tool-details" class="padded" hidden>
            <div id="divInstructions">
                <div id="instructions"></div>
            </div>
            <div class="row">
                <div style="display: none;" class="text-center" id="assigned_div"></div>
                <div id="projects-container">
                    <br/>
                    <h3>My Choices:</h3>

                    <form id="frmSubmitChoices" method="post">
                        <table class="table table-bordered" id="tblGroups">
                            <thead class="bg-info">
                                <tr>
                                    <th class="text-center">Choice #</th>
                                    <th class="text-center">Title</th>
                                </tr>
                            </thead>
                            <tbody id="project-list"></tbody>
                        </table>
                        <br/>

                        <button type="submit" id="btnSubmitChoices" name="btnSubmitChoices" class="btn btn-success pull-right">Submit Choices</button>
                        <b><span id="error-message" name="error-message" class="text-danger"></span></b>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
