{% foreach($scripts as $script): %}
    <script src="{{$script}}" type="text/javascript"></script>
{% endforeach; %}

<script type="text/javascript">  
    var selectedChoices = [];

    $(document).ready(function(){
        var _settings = JSON.parse('{{$allocationdetails}}');
        var _options = JSON.parse('{{$allocationgroups}}');
        var _choices = JSON.parse('{{$selectedgroups}}');
        var projectsContainer = $('#projects-container');

        if(_settings.length > 0 || _options.length > 0 || _choices.length > 0) {
            var details = _settings[0];
            var assignedGroup = _choices.find(choice => choice.assigned === "1");
            var state = _settings[0].state;

            $('#bqSettings').html(tmpl('tmpl-settings', details));
            if (assignedGroup) {
                $('#assigned_div').html(tmpl('tmpl-assigned-to', assignedGroup));
                $('#assigned_div').show();
                $('#submit-selection').hide();
            }
            
            $('#tblGroups tbody').html(tmpl('tmpl-option-row', { details: details, choices: _choices, options: _options }));

            $('#tool-placeholder').hide();
            if (state === "waiting") {
                $('#frmSubmitChoices').find('select, button').prop('disabled', true);
                $('#btnSubmitChoices').hide();
            }
            $('#tool-details').show();
        }
        else {
            $('#tool-placeholder').show();
            $('#tool-details').hide();
        }

        $('#frmSubmitChoices').submit(function(event) {
            event.preventDefault();
            var formData = new FormData(this);
            var selectedCount = $('.project-selection').filter(function() {
                return $(this).val() !== '';
            }).length;

            if (selectedCount < details.min_selections) {
                $('#error-message').html('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Please select at least ' + details.min_selections + ' option(s) before submission.');
                return; 
            } else {
                $('#error-message').html(''); 
                $('#error-message').hide();
            }


            $.ajax({
                url: '{{ $addchoices }}',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function(response) {
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error(error);
                    $('#error-message').html('An error occurred while processing your request. Please try again later.');
                    $('#error-message').show();
                }
            });
        });
    
        $('.project-selection').change(function() {
            updateChoices(this);
        })

    });
    
    function populateAllocationDetails(details, options, choices) {
        var currentDate = new Date();
        var formattedDate = currentDate.getFullYear() + '-' + ('0' + (currentDate.getMonth() + 1)).slice(-2) + '-' + ('0' + currentDate.getDate()).slice(-2);
        var assignedGroup = choices.find(choice => choice.assigned === "1");
        var closingDate = details.closing_date.split(' ')[0];
        
        for (var i = 1; i <= details.max_selections; i++) {
            var selectId = 'select_' + i;
            var rowId = 'row_' + i;
            
            var row = '<tr>' +
                        '<td class="text-center"><input type="hidden" id="choice-number[]" name="choice-number[]" value="' + i + '" />' + i + '</td>' +
                        '<td>' +
                            '<select class="form-control project-selection" data-id="' + selectId + '" name="project-selection" data-row="' + rowId + '">';

            var choiceForLevel = choices.find(choice => choice.choice_id === i.toString());

            row += '<option value="" selected>Select</option>';
            options.forEach(function(group) {
                var isSelected = choiceForLevel && choiceForLevel.group_id === group.group_id ? 'selected' : '';
                row += '<option value="' + group.group_id + '" ' + isSelected + '>' + group.group_id + ': ' + group.group_name + '</option>';
            });

            row += '</select>' +
                    '</td>' +
                '</tr>';

            $('#project-list').append(row);
        }
    }

    function updateChoices(select) {
        var selectedChoice = select.value;
        var rowIndex = $(select).closest('tr').index();

        $(select).closest('tbody').find('.project-selection').each(function() {
            if (this !== select) {
                var choice = $(this).val();
                if (choice === selectedChoice) {
                    $(this).val('');
                }
            }
        });
    }

</script>