<section>
    <!-- Student View -->
    <div id="student-view" class="container mt-5">
        <!-- <h3 class="text-center"> SSM Project Allocation</h2> -->

        <h2>SSM Project Selection Form</h2>

        <div id="tool-placeholder" class="bg-info text-center" style="display: none;"><br/><br/>
            <h3>This tool is not yet configured! <br/> Please contact your administrator for more information.</h3>
            <br/><br/>
        </div>
        
        <div id="tool-details">
            <blockquote class="bg-info">
                <p>Select <b>at least 3 and up to 10 choices</b> from the list below for the electronic selection process. 
                    If you fail to make selections, you'll be randomly allocated to a project.
                    Make your choices in <b><span class="text-danger">order of preference</span></b>. The deadline for selections is <b>April 30, 2024</b>.</p>
            </blockquote>
            <div class="row justify-content-center">
                <div class="col-sm-offset-3 col-md-6">
                    <table class="table table-bordered">
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div style="display: none;" id="assigned_div">
                    <h4>Assigned to: </h4>
                    <p id="assigned_to"></p>
                </div>
                <div id="projects-container">
                    <br/>
                    <h3>My Choices:</h3>
                    
                    <table class="table table-bordered">
                        <thead class="bg-info">
                            <tr>
                                <th class="text-center">Choice #</th>
                                <th class="text-center">Title</th>
                            </tr>
                        </thead>
                        <tbody id="project-list"></tbody>
                    </table>
                    <br/>

                    <button id="submit-selection" name="submit-selection" class="btn btn-success pull-right">Submit Choices</button>
                    <b><span id="error-message" name="error-message" class="text-danger"></span></b>
                </div>
            </div>
        </div>
    </div>

</section>